<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Change password</h3>
    </div>
    <div class="panel-body">
        <form name="ChangePasswordForm" ng-submit="changePassword();">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="userInfo.Email" ng-disabled="true">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="OldPassword" ng-model="user.OldPassword" ng-required="true" placeholder="Old password">
                <div ng-messages="ChangePasswordForm.OldPassword.$error" style="color:red">
                    <div ng-message="required" ng-if="ChangePasswordForm.OldPassword.$touched">Please input your old password</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="NewPassword" ng-model="user.NewPassword" ng-required="true" placeholder="New password">
                <div ng-messages="ChangePasswordForm.NewPassword.$error" style="color:red">
                    <div ng-message="required" ng-if="ChangePasswordForm.NewPassword.$touched">Please input your new password</div>
                    <div ng-if="user.OldPassword != null && user.OldPassword == user.NewPassword">New password must be different old password</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="NewConfirmPassword" ng-model="user.NewConfirmPassword" ng-required="true" placeholder="Re-type new password">
                <div ng-messages="ChangePasswordForm.NewConfirmPassword.$error" style="color:red">
                    <div ng-message="required" ng-if="ChangePasswordForm.NewConfirmPassword.$touched">Please input your new confirm password</div>
                    <div ng-if="user.NewConfirmPassword != null && user.NewPassword != user.NewConfirmPassword">New password mismatch</div>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-info" ng-disabled="user.OldPassword == user.NewPassword || user.NewPassword != user.NewConfirmPassword || loading.change">
                <span ng-if="!loading.change">Change password</span>
                <span ng-if="loading.change">Loading...</span>
                </button>
                <a class="btn btn-default" href="/booking">Back</a><br /><br />
            </div>
            <div class="alert alert-success" ng-if="success">
                <p><b>Success</b></p>{{success}}
            </div>
            <div class="alert alert-danger" ng-if="error">
                <p><b>Error</b></p>{{error}}
            </div>
        </form>
    </div>
</div>
