<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Change password</h3>
    </div>
    <div class="panel-body">
        <form name="ChangePasswordForm" ng-submit="changePassword();">
            <div class="form-group">
                <input type="text" class="form-control" name="oldPassword" ng-model="oldPassword" ng-required="true" placeholder="Old password">
                <div ng-messages="ChangePasswordForm.OldPassword.$error" style="color:red">
                    <div ng-message="required" ng-if="ChangePasswordForm.OldPassword.$touched">Please input your old password</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="NewPassword" ng-model="newPassword" ng-required="true" placeholder="New password">
                <div ng-messages="ChangePasswordForm.NewPassword.$error" style="color:red">
                    <div ng-message="required" ng-if="ChangePasswordForm.NewPassword.$touched">Please input your new password</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="NewConfirmPassword" ng-model="newConfirmPassword" ng-required="true" placeholder="Re-type new password">
                <div ng-messages="ChangePasswordForm.NewConfirmPassword.$error" style="color:red">
                    <div ng-message="required" ng-if="ChangePasswordForm.NewConfirmPassword.$touched">Please input your new confirm password</div>
                    <div ng-if="newPassword !== newConfirmPassword">New password mismatch</div>
                </div>
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="newPassword !== newConfirmPassword">Reset password</button><br /><br />
            <div class="alert alert-success" ng-show="message">
                <b ng-bind="message"></b>
            </div>
            <div class="alert alert-danger" ng-show="error">
                <b ng-bind="error"></b>
            </div>
        </form>
    </div>
</div>
