<div id="lock" class="flex-scrollable" layout="column" ms-scroll>
    <div id="lock-form-wrapper" layout="column" layout-align="center center">
        <div id="lock-form" class="md-whiteframe-8dp">
            <div layout="row" layout-align="start center" layout-sm="column" layout-align-sm="center center">
                <div flex layout="column" layout-align="start" layout-align-sm="center center">
                    <div class="title" translate="CONGRATULATION.TITLE"></div>
                    <div class="subtitle" translate="CONGRATULATION.SUB_TITLE"></div>
                </div>
            </div>
            <br />
            <div class="message">
                <a ui-sref="app.pages_auth_login" class="md-accent-color">
                    <a class="link" ui-sref="app.auth_login" translate="CONGRATULATION.LOGIN">Login</a>
                </a>
            </div>
        </div>
    </div>
</div>