<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Request reset password</h3>
    </div>
    <div class="panel-body">
        <form name="ForgotPasswordForm" ng-submit="requestResetPassword();">
            <div class="form-group">
                <input type="email" class="form-control" name="Email" ng-model="email" placeholder="E-mail" ng-disabled="loggingIn" ng-required="true">
                <div ng-messages="ForgotPasswordForm.Email.$error" role="alert" style="color:red">
                    <div ng-message="required" ng-if="ForgotPasswordForm.Email.$touched">
                        <span>Please input your Email</span>
                    </div>
                </div>
            </div>
            <!-- Change this to a button or input when using this as a form -->
            <button type="submit" class="btn btn-lg btn-success btn-block">
                Request reset password
            </button>
            <br/>
            <div class="alert alert-success" ng-if="success">
                <strong>Password Recovery!</strong>
                <p>Please check your email</p>
            </div>
            <div class="alert alert-danger" ng-if="error">
                <strong>Error!</strong>
                <p>{{error}}</p>
            </div>
        </form>
    </div>
</div>
                    
