<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Please Sign In</h3>
    </div>
    <div class="panel-body">
        <form name="loginForm" ng-submit="login();">
                <div ng-messages="error" role="alert" class="error-messages-animation md-warn" ng-class="{'invalid': error}" style="color:red;">
                    <div ng-message="incorrect" class="error-message-animation">
                        <span>Incorrect email or password</span>
                    </div>
                    <div ng-message="inactive" class="error-message-animation">
                        <span>Your account is inactive<br/> Please contact your administrator to activate it</span>
                    </div>
                    <div ng-message="busy" class="error-message-animation">
                        <span>Server is busy. Please try again later</span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" ng-model="loginForm.Email" placeholder="E-mail" ng-disabled="loggingIn" required>
                    <div ng-messages="loginForm.email.$error" role="alert" style="color:red">
                        <div ng-message="required">
                            <span>Email field is required</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" ng-model="loginForm.Password" placeholder="Password" ng-disabled="loggingIn" required>
                    <div ng-messages="loginForm.password.$error" role="alert" style="color:red">
                        <div ng-message="required">
                            <span>Password field is required</span>
                        </div>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="remember-me" ng-model="loginForm.Remember" aria-label="Remember Me" ng-disabled="loggingIn" />
                        Remember Me
                    </label>
                </div>
                <a href="#/user/forgot-password">Forgot Password?</a>
                <!-- Change this to a button or input when using this as a form -->
                <button type="submit" class="btn btn-lg btn-success btn-block"  aria-label="Log In"
                        ng-disabled="loginForm.$invalid || loginForm.$pristine || loggingIn">
                    {{loggingIn ? 'Logging in' : 'Login'}}
                </button>
        </form>
    </div>
</div>
