<h2>Add User</h2>
<form method="post" ng-controller="UsersController" ng-submit="addUser();">
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" ng-model="firstName">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" ng-model="lastName">
    </div>
    <div class="form-group">
        <label for="selectedPosition">Position:</label>
        <select ng-model="selectedPosition" ng-options="x for x in positions"></select>
    </div>
    <div class="form-group">
        <label for="selectedGender">Gender:</label>
        <select ng-model="selectedGender" ng-options="x for x in genders"></select>
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" class="form-control" ng-model="phoneNumber">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" ng-model="email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" ng-model="password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <br/>

    <div class="alert alert-danger" ng-show="error">
        <strong>Error! </strong>{{message}}
    </div>

    <div class="alert alert-success" ng-show="user.Email">
        <strong>Success! </strong>Hello {{user.Email}}
    </div>
</form>

